.panel-body
  = form_for category, url: action_path,  html: {class: 'form-horizontal', role: 'form'} do |f|
    - if category.errors.any?
      #error_explanation
        %h2= "#{pluralize(category.errors.count, "error")} Category save problem:"
        %ul
          - category.errors.full_messages.each do |msg|
            %li= msg
    .form-group
      = f.hidden_field :parent_id
    .form-group.field
      = f.label :name, 'Category Name'
      = f.text_field :name, class: 'form-control'
    .form-group.field
      = f.label :parent_id
      = f.collection_select :parent_id, @categories, :id, :name_for_selects, include_blank: true
    .form-group
      = f.submit action_name == 'edit' ? 'Update' : 'Create', class: 'form-control btn btn-primary submit-button'