- content_for :title, category.name
-# breadcrumb
= render partial: 'admin/shared/breadcrumb', locals: { category: category }

- if quotations.empty?
  %h1= "Current Category: #{category.name} do not have any quotation."
  %h3 You can click on this button and create quotation.
- else
  .container
    .row
      - quotations.each do |quotation|
        .col-md-8
          -#= quotation.author.full_name
          = quotation.text
        -#.col-md-2
          %ul
            - quotation.categories.each do |category|
              %li= category.name
        -#.col-md-2
          %ul
            - quotation.tags.each do |tag|
              %li= tag.name
    -#.row
    -#  = will_paginate quotations, renderer: BootstrapPagination::Rails
