= link_to new_admin_categories_path do
  %i.fa.fa-plus
  %span Create Root Category

- if @categories.present?
  %ul.category
    - @categories.roots.each do |category|
      %li
        = category.name
        %span
          = link_to new_admin_categories_path(id: category) do
            %i.fa.fa-plus
          = link_to edit_admin_categories_path(id: category) do
            %i.fa.fa-pencil
          = link_to admin_categories_path(id: category), method: :delete, data: { remote: true } do
            %i.fa.fa-trash
        - if category.children.present?
          = render partial: 'admin/categories/sub_categories', locals: { categories: category.children }


- else
  = link_to new_admin_categories_path do
    %i.fa.fa-plus
    %span Create

