!!!
%html
  = render 'layouts/partials/header'
  = stylesheet_link_tag    :application
  = javascript_include_tag :application
  = csrf_meta_tags
  %body
    = render 'layouts/partials/nav_bar'
    = render 'layouts/partials/content'
    = render 'layouts/partials/footer'
